
<%- include("partials/header") -%>

<h1>Home</h1>

<p><%= StartingContent %></p>


<% newpost.forEach(function(post){ %>
<h1><%= post.title %></h1>
<p><%= post.content.substring(0,100) + "..." %> <a href="/post/<%=post.title%>"</a>Read more</p>

<% }); %>

<%- include("partials/footer") -%>
